body {
  margin: 20px 40px;
  background-color: #fafbfc;
}

.job {
  width: 80%;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.job:hover {
  cursor: pointer;
  background-color: skyblue;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.job-dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-logo {
  height: 50px;
  float: right;
}

.stepper {
  margin: 0 auto;
  width: 80%;
  background-color: #fafbfc;
}

.search {
  display: flex;
  position: relative;
  width: 80%;
  margin: 10px auto;
  align-items: center;
  border-bottom: 1px solid black;
}

.search-icon {
  padding: 0 7px;
  height: 100%;
  position: relative;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-root {
  color: inherit;
}

.input-input {
  padding: 1px 1px 1px 7px;
  width: 100%;
}