body {
  margin: 20px 40px;
  background-color: #fafbfc;
}

.job {
  width: 80%;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.job:hover {
  cursor: pointer;
  background-color: skyblue;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.job-dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-logo {
  height: 50px;
  float: right;
}

.stepper {
  margin: 0 auto;
  width: 80%;
  background-color: #fafbfc;
}

